<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.speechRecognition" version="1.0.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
  
    <description>Headless Cordova Speech Recognition Plugin</description>
    <license>MIT</license>
    <keywords>cordova,plugin,voice,speech,recognition</keywords>

  
    <js-module src="www/SpeechRecognition.js" name="SpeechRecognition">
        <clobbers target="SpeechRecognition" />
    </js-module>
    
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SpeechRecognition" >
        <param name="android-package" value="org.apache.cordova.speech.SpeechRecognition"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      <uses-permission android:name="android.permission.INTERNET"/>
    </config-file>
    
    <source-file src="android/SpeechRecognition.java" target-dir="src/org/apache/cordova/speech" />
    
  </platform>
  
</plugin>
  
